.academic-credentials {
  text-align: center;
  margin: 20px;
}

.credentials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.transcript, .degree {
  margin: 10px;
  flex: 1;
  min-width: 290px;
  max-width: 600px;
}

.transcript iframe, .degree img {
  width: 100%;
  border: 1px solid #ccc;
}

.degree img {
  max-height: 500px;
  object-fit: contain;
}

@media screen and (max-width: 650px) {
  .credentials-container {
    flex-direction: column;
    align-items: center;
  }

  .transcript, .degree {
    width: 100%;
  }
}
