.academic-credentials {
    text-align: center;
    margin: 20px;
  }
  
  .credentials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Ensures there is space between items when they wrap */
  }
  
  .transcript, .degree {
    margin: 10px;
    flex: 1; /* Allows for flexible box growth */
    min-width: 290px; /* Minimum width before wrapping */
    max-width: 600px; /* Maximum width to maintain readability and layout */
  }
  
  .transcript iframe, .degree img {
    width: 100%; /* Makes sure the iframe and image fill the container */
    border: 1px solid #ccc; /* Adds a light border for distinction */
  }
  
  .degree img {
    max-height: 500px; /* Sets a maximum height for the image */
    object-fit: contain; /* Ensures the image fits nicely within the frame */
  }
  
  @media screen and (max-width: 650px) {
    .credentials-container {
      flex-direction: column;
      align-items: center;
    }
  
    .transcript, .degree {
      width: 100%; /* Full width on smaller screens */
    }
  }
  