.capstone-container {
    text-align: center;
    margin: 20px;
  }
  
  .pdf-container {
    margin: 20px auto;
    width: 90%; /* Adjust based on your preference */
    max-width: 800px; /* Adjust based on your preference */
  }
  
  .pdf-container h2 {
    margin: 20px 0;
  }
  
  iframe {
    width: 100%; /* Ensures the iframe fills the container */
    height: 500px; /* Adjust based on your preference */
    border: 1px solid #ccc; /* Adds a light border for distinction */
    margin-bottom: 20px; /* Space between iframes */
  }
  